/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #5DADE2;
  color: #fff;
  }
  
  .links a {
  color: #fff;
  }
  
  /* NAVBAR MENU */
  .menu {
  display: flex;
  font-size: 18px;
  }
  
  .menu li:hover {
  background-color: #2E86C1 ;
  border-radius: 5px;
  transition: 0.3s ease;
  }
  
  .menu li {
  padding: 5px 14px;
  list-style-type: none;
  }

  .footer {
    width: 100%;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }